*.App {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

div {
  margin: auto 0 px;
}

.container {
  /* background: rgb(51, 51, 51); */
  padding: 0, 0;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 45px;
}

h1 {
  font-display: Arial, Helvetica, sans-serif;
  padding: 20px;
  color: #00628c;
  text-align: center;
}

.jumbotron {
  margin: 15px;
  margin-bottom: 0px;
  padding: 0;
  border: 1px solid rgb(199, 189, 189);
  background: rgb(51, 51, 51);
  height: 100%;
  color: #00ccff;
  box-shadow: 0 3px 6px rgb(220, 20, 60), 0 3px 6px rgb(220, 20, 60);
  transition: transform 0.25s;
}

.upVoteButton {
  background: green;
}

.downVoteButton {
  background: red;
}

hr {
  border-bottom: 1px #ccc dotted;
}

.btnStyle {
  color: #fff;
  border: 1px solid white;
  padding: 5px 9px;
  border-radius: 5%;
  cursor: pointer;
  margin-top: 5px;
}

.btn {
  justify-content: center;
  align-content: center;
  text-align: center;
  display: inline-block;
  border: 1px solid black;
  background: #555;
  color: rgb(51, 175, 107);
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover {
  background: #306d21;
}

.img-container {
  text-align: center;
  overflow-wrap: normal;
  display: inline-block;
  border: none;
  background: #555;
  color: #911e1e;
  padding: 5px 7px;
  cursor: pointer;
}

.card {
  margin-bottom: 30px;
  border: 5px solid rgb(199, 189, 189);
  max-width: 100%;
  word-wrap: break-word;
  height: 100%;
  width: 100%;
  background: rgb(51, 51, 51);
  color: #7044a5;
  box-shadow: 0 3px 6px rgb(220, 20, 60), 0 3px 6px rgb(220, 20, 60);
  transition: transform 0.25s;
}

.content-unordered-list {
  max-width: 100%;
  word-wrap: break-word;
  font-size: small;
  text-align: left;
  padding: 0;
  margin-bottom: 35px;
}

.card > .img-container {
  height: 100%;
  width: 100%;
  background: rgb(51, 51, 51);
}

.card > .img-container > img {
  width: 100%;
  height: 115px;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.0625) translateY(-2px);
}

.card > .content > ul {
  list-style-type: none;
}

.yourProjectStyle {
  color: #306d21;
  text-align: left;
}

/* Aligns upvote/downvote information */
.upVoteDownVote {
  text-align: left;
}

/* User project styling */
.title {
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  /* text-decoration: underline; */
  color: #2a77ae;
}

.form-label {
  margin-top: 25px;
  color: #306d21;
}

p {
  text-align: center;
  font-size: 18;
  color: #ec652b;
}

.jumboHeader {
  color: #00ccff;
}

.fa {
  color: #f1da4e;
}

.projectNotice {
  color: #306d21;
}
