*.App {
  /* background-color: black; */
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  /* background:black; */
}

html,
body {
  /* color:#980002; */
  background-color: black;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

div {
  margin: auto 0 px;
}

.previewSettingsImage {
  max-width: 100%;
}

#applicationTitle {
  margin-top: 30px;
  background: black;
  padding-bottom: 0.1rem;
}

.headerLinks {
  background: black;
  padding-bottom: 0.5rem;
}

.welcomeUser {
  word-wrap: break-word;
  border-bottom: 2px solid rgb(192, 192, 192);
}

.makeProjectSuggestion {
  border-top: 2px solid rgb(192, 192, 192);
}

.container {
  background: black;
  /* background: rgb(252, 251, 251); */
  opacity: 0.85;
  /* color: #980002; */
  color: #00ccff;
  padding: 0, 0;
  padding-top: 1px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 45px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h1 {
  background: black;
  margin: auto;
  font-display: Arial, Helvetica, sans-serif;
  padding: 20px;
  /* color:#f81f22; */
  color: #00628c;
  text-align: center;
}

h2 {
  background: black;
  margin: auto;
  font-display: Arial, Helvetica, sans-serif;
  padding: 20px;
  /* color:#f81f22; */
  color: #00628c;
  text-align: center;
}

#deleteMyProjectButton {
  background: rgb(218, 0, 4);
  color: #fff;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding: 7px 20px;
  float: right;
}

#editMyProjectButton {
  background: #00628c;
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 7px 20px;
  cursor: pointer;
}

#dashboardbutton {
  background: rgb(16, 16, 16);
  /* color: #00628c; */
  color: #00ccff;
  float: none;
  text-align: center;
  height: 100%;
  padding: 7px 20px;
  border-radius: 0;
  cursor: pointer;
}

#dashboardbutton:hover {
  background: #f1da4e;
  color: white;
}

.breakWord {
  word-wrap: break-word;
}

.thumbUp {
  margin: auto;
  padding: 7px 20px;
  cursor: pointer;
  float: none;
  text-align: center;
}

.thumbDown {
  margin: auto;
  padding: 7px 20px;
  cursor: pointer;
  float: none;
  text-align: center;
}

hr {
  border-top: 1px #ccc dotted;
}

.btn {
  justify-content: center;
  align-content: center;
  float: right;
  border: 1px solid rgb(99, 7, 7);
  background: rgb(16, 16, 16);
  /* color: #00628c; */
  color: #00ccff;
  padding: 7px 20px;
  cursor: pointer;
}

#backgroundImageButton,
#btn-btn-primary {
  justify-content: center;
  align-content: center;
  border-radius: 5%;
  border: 1px solid black;
  background: rgb(16, 16, 16);
  /* color: #00628c; */
  color: #00ccff;
  padding: 7px 20px;
  cursor: pointer;
}

#btn-btn-primary:hover {
  background: #f1da4e;
  color: white;
}

.btn:hover {
  background: #f1da4e;
}

.img-container {
  text-align: center;
  overflow-wrap: normal;
  display: inline-block;
  border: none;
  background: #555;
  color: #00628c;
  padding: 5px 7px;
  cursor: pointer;
}

.card {
  margin-bottom: 30px;
  border: 5px solid rgb(199, 189, 189);
  max-width: 100%;
  word-wrap: break-word;
  height: 100%;
  width: 100%;
  background: black;
  color: #00ccff;
  box-shadow: 0 3px 6px #e44f27, 0 3px 6px #e44f27;
  transition: transform 0.25s;
}

.content-unordered-list {
  max-width: 100%;
  word-wrap: break-word;
  font-size: small;
  text-align: left;
  padding: 0;
  margin-bottom: 35px;
}

#previewImage,
#backgroundPreviewImage {
  width: 100%;
}

.backgroundPreviewImageContainer {
  overflow: hidden;
  margin-bottom: 15px;
}

#scrollablePreviewImage {
  max-height: 17rem;
  overflow: hidden;
  margin-bottom: 15px;
}

.highestVotedProjects,
.projectsToJoin,
.allSubmittedProjects {
  margin-bottom: 1rem;
}

.projectImage {
  height: 5rem;
  width: 8rem;
  cursor: pointer;
}

.card > .img-container {
  height: 100%;
  width: 100%;
  background: black;
}

.card:hover {
  transform: scale(1.0625) translateY(-2px);
}

.card > .content > ul {
  list-style-type: none;
}

.yourProjectStyle {
  /* color:#980002; */
  color: #00ccff;
  text-align: left;
}

/* Aligns upvote/downvote information */
.upVoteDownVote {
  text-align: left;
}

/* User project styling */
.title {
  /* background: black; */
  padding: 10px;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  color: #2a77ae;
  /* color:#980002; */
  /* color: #00ccff; */
}

.form-label {
  margin-top: 25px;
  color: #00ccff;
}

p {
  text-align: center;
  font-size: 18;
  color: #00ccff;
  /* color:#980002; */
}

.jumboHeader {
  color: #00ccff;
}

.fa {
  color: #f1da4e;
}

.noProjectNotification {
  color: #00ccff;
}
