.card {
  width: 50vw;
  height: 50vh;
  /* display: grid; */
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  /* grid-template-columns: repeat(3, auto); */
}