.title {
  width: 100%;
  text-align: center;
  font-size: 1rem;
  text-decoration: underline;
  color: #2A77AE;
  margin-bottom: 50px;
}

button.up-vote, button.down-vote{
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

